*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    text-align: center;
}

#container{
    margin: 0 auto 0 auto;
    border: black;
    height: 100%;
    width: 100%;
}

#header{
    margin: 0 auto 0 auto;
    padding: 0%;
    height: 75px;
    width: 100%;
    background: black;
}

#footer{
    height: 100%;
    background: black;
}

p{
    color: white;
}

textarea{
    width: 100%;
    min-width: 250px;
}