*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    text-align: center;
}

#container{
    margin: 0 auto 0 auto;
    border: black;
    height: 100%;
}

#header{
    margin: 0 auto 0 auto;
    padding: 0%;
    height: 75px;
    width: 100%;
    background: black;
}

#content {
    align-items: center;
    width: 80%;
    min-width: 50px; /**/
    height: 20px;
    border-color: #000000;
    border-width: 5px;
    border-radius: 20px;
    resize: none;
}

#content:focus{
    border-color:darkmagenta;
    border-width: 5px;
    border-radius: 20px;
    box-shadow: 50 50 50 50;
    outline: 0;
}

textarea:invalid {
    border: 10px solid red;
}

#imageQRCode {
    width: 40%;
}

p{
    color: black;
    font-family: Trebuchet MS;
}

#ft {
    color: white;
    font-family: Trebuchet MS;
}

#footer{
    padding: auto 10 auto 10;
    height: 150;
    color: #FFFFFF;
    background: black;
    font-family: Trebuchet MS;
    text-align: right;
}

textarea{
    width: 100%;
    min-width: 250px;
}

button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #FFFFFF;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 900;
    padding: 12px;
    background-color: #000000;
    -webkit-box-shadow: 1px 1px 6px 0 #000000;
    -moz-box-shadow: 1px 1px 6px 0 #000000;
    box-shadow: 1px 1px 6px 0 #000000;
    text-shadow: 1px 1px 6px #000000;
    border: solid #762C2C 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
 }
 
 button:hover {
    background: #484848;
    border: outset #FFFFFF 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
    text-transform: uppercase;
 }

 button:active {
     background:#b83dba;
 }

 h1, h2, label {
     font-weight: bolder;
     color: #000000;
     font-family: Trebuchet MS;
 }